In [7]:
#importing the libraries
#!pip install matplotlib
#!pip install seaborn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
#loading the dataset
df=pd.read_csv('translation data_v3.csv')

In [9]:
df.head()

,Unnamed: 0,Gender,Country,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text,clean_text
0,0,Unknown,Albania,7,12,Friday,True,339.0,127.0,0.0,44.0,0.0,en,"""RT @AdrianRusso82: Our Innovation Lab is offi...",our innovation lab officially open click learn...
1,1,Male,Albania,11,7,Thursday,False,87.0,0.0,0.0,22.0,0.0,en,Now Open AWS Asia Pacific (Seoul) Region via ...,now open aws asia pacific seoul region via are...
2,2,Male,Albania,6,12,Tuesday,False,87.0,0.0,0.0,22.0,0.0,en,A Beginner's Guide to Scaling to 11 Million+ U...,a beginners guide scaling million users amazon...
3,3,Male,Albania,10,12,Tuesday,False,87.0,0.0,0.0,22.0,0.0,en,Bridging AWS and Azure environments via VPN vi...,bridging aws azure environments via vpn via ar...
4,4,Male,Albania,9,21,Thursday,False,85.0,0.0,0.0,21.0,0.0,en,ELK on AWS ElasticSearch Service + ElasticBean...,elk aws elasticsearch service elasticbeanstalk...

In [10]:
# dropping columns
df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [11]:
df.head()

,Gender,Country,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text,clean_text
0,Unknown,Albania,7,12,Friday,True,339.0,127.0,0.0,44.0,0.0,en,"""RT @AdrianRusso82: Our Innovation Lab is offi...",our innovation lab officially open click learn...
1,Male,Albania,11,7,Thursday,False,87.0,0.0,0.0,22.0,0.0,en,Now Open AWS Asia Pacific (Seoul) Region via ...,now open aws asia pacific seoul region via are...
2,Male,Albania,6,12,Tuesday,False,87.0,0.0,0.0,22.0,0.0,en,A Beginner's Guide to Scaling to 11 Million+ U...,a beginners guide scaling million users amazon...
3,Male,Albania,10,12,Tuesday,False,87.0,0.0,0.0,22.0,0.0,en,Bridging AWS and Azure environments via VPN vi...,bridging aws azure environments via vpn via ar...
4,Male,Albania,9,21,Thursday,False,85.0,0.0,0.0,21.0,0.0,en,ELK on AWS ElasticSearch Service + ElasticBean...,elk aws elasticsearch service elasticbeanstalk...

In [12]:
!pip install googletrans==4.0.0-rc1
from googletrans import Translator

# Initialize the translator
translator = Translator()

# Initialize the translator
translator = Translator()
sample_text = "faw es mejor que slack orque un despliegue propio de ownbox google apps dropbox un desarrollo sobre aws"
translated = translator.translate(sample_text, dest='en')
translated.text

#df[ df['Lang'] == 'es']

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
openai 1.35.7 requires httpx<1,>=0.23.0, but you have httpx 0.13.3 which is incompatible.

Collecting googletrans==4.0.0-rc1
  Using cached googletrans-4.0.0rc1.tar.gz (20 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting httpx==0.13.3 (from googletrans==4.0.0-rc1)
  Using cached httpx-0.13.3-py3-none-any.whl.metadata (25 kB)
Requirement already satisfied: certifi in d:\jojo\anaconda\envs\nlp_llm\lib\site-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (2024.6.2)
Collecting hstspreload (from httpx==0.13.3->googletrans==4.0.0-rc1)
  Using cached hstspreload-2024.7.1-py3-none-any.whl.metadata (2.1 kB)
Requirement already satisfied: sniffio in d:\jojo\anaconda\envs\nlp_llm\lib\site-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (1.3.1)
Collecting chardet==3.* (from httpx==0.13.3->googletrans==4.0.0-rc1)
  Using cached chardet-3.0.4-py2.py3-none-any.whl.metadata (3.2 kB)
Collecting idna==2.* (from httpx==0.13.3->googletrans==4.0.0-rc1)
  Using cached idna-2.10-py2.py3-none-any.whl.metadata (9.1 kB)
Collecting rfc3986<2,>=1.3 (from httpx==0.13.3->googletrans==4.0.0-rc1)
  Using cached rfc3986-1.5.0-py2.py3-none-any.whl.metadata (6.5 kB)
Collecting httpcore==0.9.* (from httpx==0.13.3->googletrans==4.0.0-rc1)
  Using cached httpcore-0.9.1-py3-none-any.whl.metadata (4.6 kB)
Collecting h11<0.10,>=0.8 (from httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1)
  Using cached h11-0.9.0-py2.py3-none-any.whl.metadata (8.1 kB)
Collecting h2==3.* (from httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1)
  Using cached h2-3.2.0-py2.py3-none-any.whl.metadata (32 kB)
Collecting hyperframe<6,>=5.2.0 (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1)
  Using cached hyperframe-5.2.0-py2.py3-none-any.whl.metadata (7.2 kB)
Collecting hpack<4,>=3.0 (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1)
  Using cached hpack-3.0.0-py2.py3-none-any.whl.metadata (7.0 kB)
Using cached httpx-0.13.3-py3-none-any.whl (55 kB)
Using cached chardet-3.0.4-py2.py3-none-any.whl (133 kB)
Using cached httpcore-0.9.1-py3-none-any.whl (42 kB)
Using cached idna-2.10-py2.py3-none-any.whl (58 kB)
Using cached h2-3.2.0-py2.py3-none-any.whl (65 kB)
Using cached rfc3986-1.5.0-py2.py3-none-any.whl (31 kB)
Using cached hstspreload-2024.7.1-py3-none-any.whl (1.2 MB)
Using cached h11-0.9.0-py2.py3-none-any.whl (53 kB)
Using cached hpack-3.0.0-py2.py3-none-any.whl (38 kB)
Using cached hyperframe-5.2.0-py2.py3-none-any.whl (12 kB)
Building wheels for collected packages: googletrans
  Building wheel for googletrans (setup.py): started
  Building wheel for googletrans (setup.py): finished with status 'done'
  Created wheel for googletrans: filename=googletrans-4.0.0rc1-py3-none-any.whl size=17458 sha256=c67dbf103aeb1cb414d969357a640033e41099ed24f3c52a49c8fc2f55309f41
  Stored in directory: c:\users\jojo\appdata\local\pip\cache\wheels\95\0f\04\b17a72024b56a60e499ce1a6313d283ed5ba332407155bee03
Successfully built googletrans
Installing collected packages: rfc3986, hyperframe, hpack, h11, chardet, idna, hstspreload, h2, httpcore, httpx, googletrans
  Attempting uninstall: h11
    Found existing installation: h11 0.14.0
    Uninstalling h11-0.14.0:
      Successfully uninstalled h11-0.14.0
  Attempting uninstall: idna
    Found existing installation: idna 3.7
    Uninstalling idna-3.7:
      Successfully uninstalled idna-3.7
  Attempting uninstall: httpcore
    Found existing installation: httpcore 1.0.5
    Uninstalling httpcore-1.0.5:
      Successfully uninstalled httpcore-1.0.5
  Attempting uninstall: httpx
    Found existing installation: httpx 0.27.0
    Uninstalling httpx-0.27.0:
      Successfully uninstalled httpx-0.27.0
Successfully installed chardet-3.0.4 googletrans-4.0.0rc1 h11-0.9.0 h2-3.2.0 hpack-3.0.0 hstspreload-2024.7.1 httpcore-0.9.1 httpx-0.13.3 hyperframe-5.2.0 idna-2.10 rfc3986-1.5.0

'FAW is better that Slack orque a Ownbox Google Apps Dropbox display a development on AWS'

In [13]:
df['Lang'].value_counts()

Lang
en    93428
es     1812
fr     1097
_u      925
tr      899
ja      676
de      570
in      427
tl      421
ko      365
pt      239
nl      174
it      148
zh      124
th       81
pl       78
cs       74
ru       57
fi       51
et       42
ro       35
cy       29
ht       29
da       28
sv       28
ar       22
hu       20
no       13
lt        8
lv        6
hi        3
sl        2
uk        2
iw        2
km        1
eu        1
Name: count, dtype: int64

In [10]:
df.head()

,Gender,Country,Hour,Day,Weekday,IsReshare,Reach,RetweetCount,Likes,Klout,Sentiment,Lang,text,clean_text
0,Unknown,Albania,7,12,Friday,True,339.0,127.0,0.0,44.0,0.0,es,"""RT @AdrianRusso82: Our Innovation Lab is offi...",our innovation lab officially open click learn...
1,Male,Albania,11,7,Thursday,False,87.0,0.0,0.0,22.0,0.0,es,Now Open AWS Asia Pacific (Seoul) Region via ...,now open aws asia pacific seoul region via are...
2,Male,Albania,6,12,Tuesday,False,87.0,0.0,0.0,22.0,0.0,es,A Beginner's Guide to Scaling to 11 Million+ U...,a beginners guide scaling million users amazon...
3,Male,Albania,10,12,Tuesday,False,87.0,0.0,0.0,22.0,0.0,es,Bridging AWS and Azure environments via VPN vi...,bridging aws azure environments via vpn via ar...
4,Male,Albania,9,21,Thursday,False,85.0,0.0,0.0,21.0,0.0,es,ELK on AWS ElasticSearch Service + ElasticBean...,elk aws elasticsearch service elasticbeanstalk...

In [7]:
'''
import re
def clean_text(text):

    # Check if the text is a string
     if isinstance(text, str):
        text = re.sub(r'[^a-zA-Z\s]', '', text)  # Remove special characters and digits
        text = re.sub(r'\@\w+|\#','', text)  # Remove mentions and hashtags
        text = re.sub(r'[^\w\s]', '', text)  # Remove punctuation
        text = re.sub(r"http\S+|www\S+|https\S+", '', text, flags=re.MULTILINE) # Remove URLs
        text = re.sub(r'<.*?>', '', text)  # Remove HTML tags
        text = re.sub(r'rt', '', text, flags=re.IGNORECASE)  # Remove 'rt' (retweet indicator)
        text = text.lower()  # Convert to lowercase
        return text
     else:
        return ""
# Apply clean_text function to the 'clean_text' column
df['clean_text'] = df['clean_text'].apply(clean_text)
'''

In [6]:
df.shape

(101917, 14)

#### At this point we are decided to drop the rows by using `Lang` column which are not translated in english as most of them are translated in it.

In [9]:
# List of substrings to remove
substrings_to_remove = ['_u','es', 'ht','in','it','ja','nl','pt','ro','tl','tr','zh']
# Create a regex pattern to match any of the substrings
pattern = '|'.join(substrings_to_remove)
# Remove rows where 'Lang' contains any of the substrings
df = df[~df['Lang'].str.contains(pattern)]

In [10]:
df.shape

(96008, 14)

In [11]:
import nltk
from nltk.tokenize import RegexpTokenizer
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem.wordnet import WordNetLemmatizer

nltk.download('stopwords')
nltk.download('punkt')
# Function to tokenize the words, remove stop words, and treat normalization
def preprocess_text(text):

    # Tokenize the text
    tokens = word_tokenize(text)

    # Remove stop words
    stop_words = set(stopwords.words('english'))
    tokens = [word for word in tokens if word not in stop_words]

    # Normalize words by using Lemmatization
    lemmatizer = WordNetLemmatizer()
    tokens = [lemmatizer.lemmatize(word) for word in tokens]
    return tokens

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [12]:
# Apply preprocess_text function to 'clean_text' column
df['clean_text_processed'] = df['clean_text'].apply(lambda x: preprocess_text(x))

In [13]:
df.to_csv("translation data1.csv")

## Data Engineering

In [14]:
# dropping columns
df.drop(['Gender','Country','Hour','Day','Weekday','IsReshare','Reach','RetweetCount','Likes','Klout','Lang','text','clean_text'],axis=1,inplace=True)

In `Sentiment` column, the values are not well defined. So, We are dividing them into 3 categories and then applying mapping.

In [15]:
df['Mood'] = df['Sentiment'].apply(lambda x: 
                                       ('Positive' if x > 0 
                                             else ('Neutral' if x == 0 
                                                   else  'Negative')))

In [16]:
df.head()

   Sentiment                               clean_text_processed     Mood
0        0.0  [adrianrusso, innovation, lab, officially, ope...  Neutral
1        0.0  [open, aws, asia, pacific, seoul, region, via,...  Neutral
2        0.0  [beginner, guide, scaling, million, user, amaz...  Neutral
3        0.0  [bridging, aws, azure, environment, via, vpn, ...  Neutral
4        0.0  [elk, aws, elasticsearch, service, elasticbean...  Neutral

In [17]:
# Define a custom mapping for Mood to numerical values
mood_mapping = {
    'Neutral': 0,
    'Positive': 1,
    'Negative': 2
}

# Apply the custom mapping to create the 'Mood_Encoded' column
df['Mood'] = df['Mood'].map(mood_mapping)

In [18]:
df.drop('Sentiment',axis=1,inplace=True)

In [19]:
df

                                     clean_text_processed  Mood
0       [adrianrusso, innovation, lab, officially, ope...   0.0
1       [open, aws, asia, pacific, seoul, region, via,...   0.0
2       [beginner, guide, scaling, million, user, amaz...   0.0
3       [bridging, aws, azure, environment, via, vpn, ...   0.0
4       [elk, aws, elasticsearch, service, elasticbean...   0.0
...                                                   ...   ...
101912  [springcoil, anyone, good, workflow, using, aw...   1.0
101913  [linuxacademycom, aws, csa, associate, profess...   0.0
101914  [curious, benthompson, change, opinion, aws, e...   1.0
101915  [awscloud, new, aws, staup, blog, staups, know...   0.0
101916  [ictafrica, top, paying, ceifications, aws, ce...   0.0

[96008 rows x 2 columns]

In [20]:
df.to_csv("Clean Data.csv",index=True)