In [52]:
#importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem.wordnet import WordNetLemmatizer

nltk.download('stopwords')
nltk.download('punkt')

import re

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\admin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\admin\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [210]:
#loading the dataset
df=pd.read_csv('cleaned_translation_data_1.csv')

In [211]:
df.head()

   Unnamed: 0   Gender  Country  Hour  Day   Weekday  IsReshare  Reach  RetweetCount  Likes  Klout  Sentiment Lang                                                                                                                                                                                                                                                     text                                                              clean_text                                                         translated_text                                                                           valid_words
0           0  Unknown  Albania     7   12    Friday       True  339.0         127.0    0.0   44.0        0.0   en              "RT @AdrianRusso82: Our Innovation Lab is officially open! Click below to learn more! https://www.linkedin.com/pulse/new-innovation-lab-open-business-adrian-russo-msis-mcp?utm_source&utm_medium&utm_campaign #Tech #JavaScript #AWS http"   our innovation lab officially open click learn tech java script a w s   our innovation lab officially open click learn tech java script a w s  ['innovation', 'lab', 'officially', 'open', 'click', 'learn', 'tech', 'script', 'w']
1           1     Male  Albania    11    7  Thursday      False   87.0           0.0    0.0   22.0        0.0   en                                     Now Open  AWS Asia Pacific (Seoul) Region via /r/sysadmin https://www.reddit.com/r/sysadmin/comments/3zvciv/now_open_aws_asia_pacific_seoul_region/ http://twitter.com/besmirzanaj/status/685159757209059329/photo/1                  now open aws asia pacific seoul region via aresysadmin                  now open aws asia pacific seoul region via aresysadmin                                                  ['open', 'pacific', 'region', 'via']
2           2     Male  Albania     6   12   Tuesday      False   87.0           0.0    0.0   22.0        0.0   en  A Beginner's Guide to Scaling to 11 Million+ Users on Amazon's AWS via /r/sysadmin https://www.reddit.com/r/sysadmin/comments/40hon7/a_beginners_guide_to_scaling_to_11_million_users/ http://twitter.com/besmirzanaj/status/686907710311378944/photo/1     a beginners guide scaling million users amazons aws via aresysadmin     a beginners guide scaling million users amazons aws via aresysadmin                                                ['guide', 'scaling', 'million', 'via']
3           3     Male  Albania    10   12   Tuesday      False   87.0           0.0    0.0   22.0        0.0   en                              Bridging AWS and Azure environments via VPN via /r/sysadmin https://www.reddit.com/r/sysadmin/comments/40mdc4/bridging_aws_and_azure_environments_via_vpn/ http://twitter.com/besmirzanaj/status/686968158050201600/photo/1                 bridging aws azure environments via vpn via aresysadmin                 bridging aws azure environments via vpn via aresysadmin                                                   ['bridging', 'azure', 'via', 'via']
4           4     Male  Albania     9   21  Thursday      False   85.0           0.0    0.0   21.0        0.0   en      ELK on AWS ElasticSearch Service + ElasticBeanstalk + Laravel via /r/sysadmin https://www.reddit.com/r/sysadmin/comments/41x9hy/elk_on_aws_elasticsearch_service_elasticbeanstalk/ http://twitter.com/besmirzanaj/status/690210449674092545/photo/1  elk aws elasticsearch service elasticbeanstalk laravel via aresysadmin  elk aws elasticsearch service elasticbeanstalk laravel via aresysadmin                                                             ['elk', 'service', 'via']

In [212]:
# dropping columns
df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [213]:
df.head()

    Gender  Country  Hour  Day   Weekday  IsReshare  Reach  RetweetCount  Likes  Klout  Sentiment Lang                                                                                                                                                                                                                                                     text                                                              clean_text                                                         translated_text                                                                           valid_words
0  Unknown  Albania     7   12    Friday       True  339.0         127.0    0.0   44.0        0.0   en              "RT @AdrianRusso82: Our Innovation Lab is officially open! Click below to learn more! https://www.linkedin.com/pulse/new-innovation-lab-open-business-adrian-russo-msis-mcp?utm_source&utm_medium&utm_campaign #Tech #JavaScript #AWS http"   our innovation lab officially open click learn tech java script a w s   our innovation lab officially open click learn tech java script a w s  ['innovation', 'lab', 'officially', 'open', 'click', 'learn', 'tech', 'script', 'w']
1     Male  Albania    11    7  Thursday      False   87.0           0.0    0.0   22.0        0.0   en                                     Now Open  AWS Asia Pacific (Seoul) Region via /r/sysadmin https://www.reddit.com/r/sysadmin/comments/3zvciv/now_open_aws_asia_pacific_seoul_region/ http://twitter.com/besmirzanaj/status/685159757209059329/photo/1                  now open aws asia pacific seoul region via aresysadmin                  now open aws asia pacific seoul region via aresysadmin                                                  ['open', 'pacific', 'region', 'via']
2     Male  Albania     6   12   Tuesday      False   87.0           0.0    0.0   22.0        0.0   en  A Beginner's Guide to Scaling to 11 Million+ Users on Amazon's AWS via /r/sysadmin https://www.reddit.com/r/sysadmin/comments/40hon7/a_beginners_guide_to_scaling_to_11_million_users/ http://twitter.com/besmirzanaj/status/686907710311378944/photo/1     a beginners guide scaling million users amazons aws via aresysadmin     a beginners guide scaling million users amazons aws via aresysadmin                                                ['guide', 'scaling', 'million', 'via']
3     Male  Albania    10   12   Tuesday      False   87.0           0.0    0.0   22.0        0.0   en                              Bridging AWS and Azure environments via VPN via /r/sysadmin https://www.reddit.com/r/sysadmin/comments/40mdc4/bridging_aws_and_azure_environments_via_vpn/ http://twitter.com/besmirzanaj/status/686968158050201600/photo/1                 bridging aws azure environments via vpn via aresysadmin                 bridging aws azure environments via vpn via aresysadmin                                                   ['bridging', 'azure', 'via', 'via']
4     Male  Albania     9   21  Thursday      False   85.0           0.0    0.0   21.0        0.0   en      ELK on AWS ElasticSearch Service + ElasticBeanstalk + Laravel via /r/sysadmin https://www.reddit.com/r/sysadmin/comments/41x9hy/elk_on_aws_elasticsearch_service_elasticbeanstalk/ http://twitter.com/besmirzanaj/status/690210449674092545/photo/1  elk aws elasticsearch service elasticbeanstalk laravel via aresysadmin  elk aws elasticsearch service elasticbeanstalk laravel via aresysadmin                                                             ['elk', 'service', 'via']

In [214]:
df['Lang'].value_counts()

Lang
en    93428
es     1812
fr     1097
_u      925
tr      899
ja      676
de      570
in      427
tl      421
ko      365
pt      239
nl      174
it      148
zh      124
th       81
pl       78
cs       74
ru       57
fi       51
et       42
ro       35
cy       29
ht       29
da       28
sv       28
ar       22
hu       20
no       13
lt        8
lv        6
hi        3
iw        2
sl        2
uk        2
eu        1
km        1
Name: count, dtype: int64

In [215]:
df.shape

(101917, 16)

#### At this point we are decided to drop the rows by using `Lang` column which are not translated in english as most of them are translated in it.

In [216]:
# List of substrings to remove
substrings_to_remove = ['_u','es', 'ht','in','it','ja','nl','pt','ro','tl','tr','zh']
# Create a regex pattern to match any of the substrings
pattern = '|'.join(substrings_to_remove)
# Remove rows where 'Lang' contains any of the substrings
df = df[~df['Lang'].str.contains(pattern)]

In [217]:
df.shape

(96008, 16)

# Data Engineering

In [218]:
# Define the pattern to remove sequences of single characters separated by spaces and any non-word characters
pattern = r'\b(?:\w\s*){1,3}\b|\W+'

# Custom function to clean text
def clean_text(text):
    if not isinstance(text, str):
        text = str(text) if text is not None else ''
    # Replace specific patterns with a space
    cleaned_text = re.sub(pattern, ' ', text)
    # Remove any extra spaces
    cleaned_text = re.sub(r'\s+', ' ', cleaned_text).strip()
    return cleaned_text

# Apply the custom function to the 'clean_text' column
df['clean_text'] = df['clean_text'].apply(clean_text)
df['translated_text'] = df['translated_text'].apply(clean_text)

In [219]:
# Function to tokenize the text
def tokenize_text(text):
    if isinstance(text, str):  # Check if the text is a string
        tokens = word_tokenize(text)
        return tokens
    else:
        return []  # Return an empty list for non-string values

# Apply the function to the 'translated_text' column
df['tokenize_text'] = df['translated_text'].apply(tokenize_text)
df

         Gender   Country  Hour  Day    Weekday  IsReshare   Reach  RetweetCount  Likes  Klout  Sentiment Lang                                                                                                                                                                                                                                                                                                                                                               text                                                                         clean_text                                                                    translated_text                                                                           valid_words                                                                                    tokenize_text
0       Unknown   Albania     7   12     Friday       True   339.0         127.0    0.0   44.0        0.0   en                                                                                                                        "RT @AdrianRusso82: Our Innovation Lab is officially open! Click below to learn more! https://www.linkedin.com/pulse/new-innovation-lab-open-business-adrian-russo-msis-mcp?utm_source&utm_medium&utm_campaign #Tech #JavaScript #AWS http"                            innovation officially open click learn tech java script                            innovation officially open click learn tech java script  ['innovation', 'lab', 'officially', 'open', 'click', 'learn', 'tech', 'script', 'w']                                 [innovation, officially, open, click, learn, tech, java, script]
1          Male   Albania    11    7   Thursday      False    87.0           0.0    0.0   22.0        0.0   en                                                                                                                                               Now Open  AWS Asia Pacific (Seoul) Region via /r/sysadmin https://www.reddit.com/r/sysadmin/comments/3zvciv/now_open_aws_asia_pacific_seoul_region/ http://twitter.com/besmirzanaj/status/685159757209059329/photo/1                                         open asia pacific seoul region aresysadmin                                         open asia pacific seoul region aresysadmin                                                  ['open', 'pacific', 'region', 'via']                                                [open, asia, pacific, seoul, region, aresysadmin]
2          Male   Albania     6   12    Tuesday      False    87.0           0.0    0.0   22.0        0.0   en                                                                                                            A Beginner's Guide to Scaling to 11 Million+ Users on Amazon's AWS via /r/sysadmin https://www.reddit.com/r/sysadmin/comments/40hon7/a_beginners_guide_to_scaling_to_11_million_users/ http://twitter.com/besmirzanaj/status/686907710311378944/photo/1                          beginners guide scaling million users amazons aresysadmin                          beginners guide scaling million users amazons aresysadmin                                                ['guide', 'scaling', 'million', 'via']                                [beginners, guide, scaling, million, users, amazons, aresysadmin]
3          Male   Albania    10   12    Tuesday      False    87.0           0.0    0.0   22.0        0.0   en                                                                                                                                        Bridging AWS and Azure environments via VPN via /r/sysadmin https://www.reddit.com/r/sysadmin/comments/40mdc4/bridging_aws_and_azure_environments_via_vpn/ http://twitter.com/besmirzanaj/status/686968158050201600/photo/1                                            bridging azure environments aresysadmin                                            bridging azure environments aresysadmin                                                   ['bridging', 'azure', 'via', 'via']                                                     [bridging, azure, environments, aresysadmin]
4          Male   Albania     9   21   Thursday      False    85.0           0.0    0.0   21.0        0.0   en                                                                                                                ELK on AWS ElasticSearch Service + ElasticBeanstalk + Laravel via /r/sysadmin https://www.reddit.com/r/sysadmin/comments/41x9hy/elk_on_aws_elasticsearch_service_elasticbeanstalk/ http://twitter.com/besmirzanaj/status/690210449674092545/photo/1                         elasticsearch service elasticbeanstalk laravel aresysadmin                         elasticsearch service elasticbeanstalk laravel aresysadmin                                                             ['elk', 'service', 'via']                                 [elasticsearch, service, elasticbeanstalk, laravel, aresysadmin]
...         ...       ...   ...  ...        ...        ...     ...           ...    ...    ...        ...  ...                                                                                                                                                                                                                                                                                                                                                                ...                                                                                ...                                                                                ...                                                                                   ...                                                                                              ...
101912     Male  Zimbabwe    10    7     Sunday       True  1203.0           3.0    0.0   44.0        3.0   en                                                                                                                                                                                                                         RT @Springcoil: Does anyone have a good workflow for using AWS for data science tasks. I spend more time setting things up these days than  does anyone good workflow using data science tasks spend time setting things days  does anyone good workflow using data science tasks spend time setting things days             ['anyone', 'good', 'data', 'science', 'spend', 'time', 'setting', 'days']  [does, anyone, good, workflow, using, data, science, tasks, spend, time, setting, things, days]
101913  Unknown  Zimbabwe     5   12    Tuesday       True   976.0         102.0    0.0   31.0        0.0   en                                                                                                                                                                                                                          RT @linuxacademyCOM: AWS CSA Associate and Professional training available with labs study guides and quizzes! First month just $9! https    associate professional training available labs study guides quizzes first month    associate professional training available labs study guides quizzes first month     ['associate', 'professional', 'training', 'available', 'study', 'first', 'month']       [associate, professional, training, available, labs, study, guides, quizzes, first, month]
101914  Unknown  Zimbabwe     0   15    Tuesday      False  4876.0           0.0    0.0   49.0        1.0   en                                                                                                                                                                         Curious @benthompson does this change your opinion on AWS being more efficient than Dropbox running own cloud http://www.wired.com/2016/03/epic-story-dropboxs-exodus-amazon-cloud-empire/                             curious change opinion efficient dropbox running cloud                             curious change opinion efficient dropbox running cloud                     ['curious', 'change', 'opinion', 'efficient', 'running', 'cloud']                                   [curious, change, opinion, efficient, dropbox, running, cloud]
101915   Unisex  Zimbabwe     8    2  Wednesday       True   188.0           5.0    0.0   37.0        0.0   en  RT @awscloud: New on the AWS Startup Blog - What Startups Should Know Before Choosing a CDN: https://medium.com/aws-activate-startup-blog/what-startups-should-know-before-choosing-a-cdn-a4926066fc5a?adbsc=startups_20160302_58844876&adbid=705053057881518081&adbpl=tw&adbpr=66780587#.90ax9uf1u http://twitter.com/awscloud/status/705053057881518081/photo/1                   startup blog what startups should know before choosing canadians                   startup blog what startups should know before choosing canadians                                                           ['new', 'know', 'choosing']                       [startup, blog, what, startups, should, know, before, choosing, canadians]
101916  Unknown  Zimbabwe    12   21     Sunday       True   199.0           3.0    0.0   23.0        0.0   en                                                             RT @ICTAfrica1: 15 Top Paying IT Certifications In 2016: AWS Certified Solutions Architect Leads http://www.forbes.com/sites/louiscolumbus/2016/02/21/15-top-paying-it-certifications-in-2016-aws-certified-solutions-architect-leads-at-125k/?utm_source=dlvr.it&utm_medium=twitter #ictafrica https:                          paying certifications certified solutions architect leads                          paying certifications certified solutions architect leads                                           ['top', 'paying', 'certified', 'architect']                                 [paying, certifications, certified, solutions, architect, leads]

[96008 rows x 17 columns]

In [220]:
# dropping columns
df.drop(['Gender','Country','Hour','Day','Weekday','IsReshare','Reach','RetweetCount','Likes','Klout','Lang','text','valid_words'],axis=1,inplace=True)

In `Sentiment` column, the values are not well defined. So, We are dividing them into 3 categories and then applying mapping.

In [221]:
# the values are not well defined. So, We are dividing them into 3 categories and then applying mapping.
df['Mood'] = df['Sentiment'].apply(lambda x: 
                                       ('Positive' if x > 0 
                                             else ('Neutral' if x == 0 
                                                   else  'Negative')))

In [222]:
# Define a custom mapping for Mood to numerical values
mood_mapping = {
    'Neutral': 0,
    'Positive': 1,
    'Negative': 2
}

# Apply the custom mapping to create the 'Mood_Encoded' column
df['Mood'] = df['Mood'].map(mood_mapping)

In [223]:
# Handle missing values by replacing NaNs with an empty string
df['translated_text'] = df['translated_text'].fillna('')

# Convert non-string values to string
df['translated_text'] = df['translated_text'].astype(str)

In [224]:
df.drop('Sentiment',axis=1,inplace=True)

In [225]:
df.shape

(96008, 4)

In [226]:
df.to_csv("final_cleaned_translation_data.csv",index=True)

In [233]:
print(df[['translated_text','Mood']].tail())
print(df.shape)

                                                                          translated_text  Mood
101912  does anyone good workflow using data science tasks spend time setting things days     1
101913    associate professional training available labs study guides quizzes first month     0
101914                             curious change opinion efficient dropbox running cloud     1
101915                   startup blog what startups should know before choosing canadians     0
101916                          paying certifications certified solutions architect leads     0
(96008, 4)